<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yozzibeens.gobus">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".app.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="Login"
            android:name=".app.Login"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
            android:label="Inicio"
            android:name=".app.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
            android:label="Perfil"
            android:name=".actividades.Perfil.Nav_Perfil"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
        android:label="Viajes Gratis"
        android:name=".actividades.ViajesGratis"
        android:windowSoftInputMode="stateHidden"
        android:screenOrientation="locked"></activity>

        <activity
            android:label="Promociones"
            android:name=".actividades.Promociones"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
            android:label="Resultados"
            android:name=".actividades.Resultados"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
            android:label="Selecciona tu asiento"
            android:name=".actividades.Selecciona_Asiento"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
            android:label="Datos del Pasajero"
            android:name=".actividades.DatosPasajero"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
            android:label="Metodo de pago"
            android:name=".actividades.MetodoPago"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
            android:label="Ticket"
            android:name=".actividades.FinalTicket"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

        <activity
            android:label="Historial"
            android:name=".actividades.Historial"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="locked"></activity>

    </application>

</manifest>